* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
a {
  color: #666;
}
body {
  padding: .45rem 0;
  height: 100vh;
  font-size: .14rem;
  line-height: .14rem;
  margin: 0 auto;
  max-width: 750px;
}
#header {
  display: flex;
  text-align: center;
  background-color: #006699;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#header .center {
  flex: 1;
  margin: 0;
  line-height: .45rem;
  color: #fff;
  font-weight: normal;
}
#header .center input {
  /* 去掉输入框默认底部margin */
  margin-bottom: 0;
  background-color: #fff;
  /* 把输入框的文字颜色改成黑色 */
  color: #000;
  /* 默认重复覆盖文字居左 */
  text-align: left;
}
#header .right {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#footer {
  background-color: #006699;
  height: .45rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
