* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
a {
  color: #666;
}
#main {
  height: 100%;
}
input {
  font-size: .14rem;
}
body {
  padding: .45rem 0;
  height: 100vh;
  font-size: .14rem;
  line-height: .14rem;
  margin: 0 auto;
  max-width: 750px;
}
#header {
  display: flex;
  text-align: center;
  background-color: #006699;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
#header .left {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#header .center {
  flex: 1;
  margin: 0;
  line-height: .45rem;
  color: #fff;
  font-weight: normal;
}
#header .center input {
  /* 去掉输入框默认底部margin */
  margin-bottom: 0;
  background-color: #fff;
  /* 把输入框的文字颜色改成黑色 */
  color: #000;
  /* 默认重复覆盖文字居左 */
  text-align: left;
}
#header .right {
  width: .45rem;
  height: .45rem;
  line-height: .45rem;
  color: #fff;
}
#footer {
  background-color: #006699;
  height: .45rem;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
}
#footer a {
  display: flex;
  height: .45rem;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer a.active {
  background-color: #fff;
  color: #000;
}
#main {
  position: relative;
  /* 同时需要给main设置高度100% 让main在中间范围显示 继承body内容的高度 */
  height: 100%;
}
#main .search-form form {
  padding: .1rem;
  display: flex;
}
#main .search-form form input {
  flex: 1;
  margin-bottom: 0;
  background-color: #fff;
  text-align: left;
  font-size: .14rem;
  border: 1px solid #006699;
  /* 输入框去掉右上角右小角的圆角 */
  border-radius: .06rem 0 0 .06rem;
}
#main .search-form form button {
  font-size: .14rem;
  color: #fff;
  background-color: #006699;
  border-radius: 0 .06rem .06rem 0;
}
body {
  padding-bottom: .8rem;
}
#main .mui-table-view .mui-table-view-cell a {
  /* 列表的a容器 */
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right {
  /*a容器里里面的左侧 商品图片和复选框*/
  /* a容器里面的右侧商品信息 */
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-pull-left img {
  /* 要改max-width因为MUi设置 是max-width */
  max-width: .6rem;
  height: .6rem;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-pull-left .mui-checkbox {
  text-align: center;
  /* 表示没选中之前的样式 */
  /* 表示选中了的样式 */
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-pull-left .mui-checkbox input {
  /* 去掉默认绝对定位 */
  position: static;
  /* 修改input复选框里面的伪元素的字体颜色 */
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-pull-left .mui-checkbox input::before {
  color: hotpink;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-pull-left .mui-checkbox input[type='checkbox']:checked:before {
  color: hotpink;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-media-body {
  line-height: .22rem;
  padding-left: .1rem;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-media-body .product-name {
  /* 注意去掉商品名称的强制不换行属性  */
  white-space: normal;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-media-body .product-price span {
  color: red;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-media-body .product-price del {
  color: #ccc;
}
#main .mui-table-view .mui-table-view-cell a.mui-navigate-right .mui-media-body .product-params {
  display: flex;
  /* 设置2端对齐 */
  justify-content: space-between;
}
#order {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
  /* 定位到footer上面 */
  bottom: .45rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  line-height: .33rem;
  border-top: 1px solid #ccc;
}
#order p {
  margin-bottom: 0;
  font-weight: 600;
  color: red;
  padding-left: .1rem;
}
