@import "base.less";
#main {
    .search-form {
        padding: .1rem;
        form {
            display: flex;
            input {
                flex: 1;
                margin-bottom: 0;
                background-color: #fff;
                text-align: left;
                font-size: .14rem;
                border: 1px solid @main-color;
                /* 输入框去掉右上角右小角的圆角 */
                border-radius: .06rem 0 0 .06rem;
            }
            button {
                font-size: .14rem;
                color: #fff;
                background-color: @main-color;
                border-radius: 0 .06rem .06rem 0;
            }
        }
    }
    .search-histroy {
        .mui-card {
            .mui-card-header {
                font-size: .14rem;
            }
            .mui-card-content {
                .mui-badge {
                    width: .24rem;
                    height: .24rem;
                    padding: 0.06rem;
                    text-align: center;
                    background-color: hotpink;
                }
            }
        }
    }
}